@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* 
font-family: "Work Sans", serif;
*/
/* Start varibles */

/* ENd varibles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --logo-color: #00ccb8;
  --text-color: #777;
  --bak-gn-color: #f6f6f6;
}
/* SMAl */
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

/* mediau */
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
/* larg */
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", serif;
}

ul {
  list-style: none;
}
/* Start header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container img {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .container .links {
  position: relative;
}
.header .container .links .icon {
  width: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .container .links .icon span {
  display: block;
  width: 100%;
  margin-bottom: 7px;
  height: 2px;
  background-color: black;
}
.header .container .links .icon .active {
  width: 60%;
  transition: 0.5s;
}
.header .container .links .icon:hover .active {
  width: 100%;
}
.header .container .links ul {
  display: none;
  position: absolute;
  z-index: 1;
  left: -10em;
  width: 200px;
  background-color: var(--bak-gn-color);
}
.header .container .links ul::before {
  content: "";
  position: absolute;
  width: 0;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent var(--bak-gn-color) transparent;
  right: 0;
  top: -2em;
}
.header .container .links:hover ul {
  display: block;
}

.header .container .links ul li {
  margin: 5px 0;
  padding: 10px 10px;
  border-bottom: 1px solid #aaaaaa42;
}
.header .container .links ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.5s;
}
.header .container .links ul li a:hover {
  margin-left: 2em;
}
.header .container .links ul .active {
  border: 0;
}

/* Start header */
/* Start landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 56px);
  position: relative;
}
.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.intro-text h1 {
  color: var(--logo-color);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5rem;
}
.intro-text p {
  color: var(--text-color);
  font-weight: 600;
  font-size: 2rem;
  text-transform: capitalize;
}
/* Start landing */
/* Start after-landing */
.after-land {
  padding: 5em 2em;
  background-color: var(--bak-gn-color);
}
.after-land .container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}
.after-land .container .box {
  padding: 20px;
}
.after-land .container i {
  font-size: 3rem;
  color: var(--logo-color);
}
.after-land .container h3 {
  margin: 1em 0;
}
.after-land .container p {
  color: var(--text-color);
  line-height: 1.8;
}
/* Start after-landing */
/* Start servesic */
.servesic {
  padding: 5em 2em;
  margin: 0 auto;
}
.main-heading {
  margin: 1em 0;
  text-align: center;
  margin-bottom: 5em;
}
.main-heading h2 {
  font-size: 5rem;
  color: #dadada;
  transition: 0.5s;
}
.main-heading p {
  color: var(--text-color);
  font-size: 1.3rem;
  transform: translateY(-1.4em);
}
.main-heading:hover h2 {
  letter-spacing: 5px;
}
.servesic .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.servesic .container .col .box {
  margin: 2em 1em;
  position: relative;
  display: flex;
}
@media (max-width: 768px) {
  .servesic .container .col .box {
    flex-direction: column;
    text-align: center;
  }
  .servesic .container .col .box i {
    margin-bottom: 1em;
  }
  .servesic {
    padding: 5em 20px;
  }
}
.servesic .container .col .box i {
  color: var(--logo-color);
  margin-right: 0.5em;
  font-size: 30px;
}
.servesic .container .col .box p {
  color: var(--text-color);
  margin: 1em 0;
  line-height: 1.8;
}
.servesic .container .box-img {
  position: relative;
  width: 300px;
}
@media (max-width: 1200px) {
  .servesic .container .col-img {
    display: none;
  }
  .servesic .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.servesic .container .box-img::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2em;
  height: calc(100% + 100px);
  width: 100px;
  background-color: #2c4755;
  z-index: -1;
}
.servesic .container .box-img img {
  width: 100%;
}
/* End servesic */
/* Start portfolio */
.portfolio {
  padding: 5em 2em;
  background-color: #f6f6f6;
}
.portfolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin: 2em auto;
}
.portfolio .container .col {
  background-color: white;
}
.col-img {
  overflow: hidden;
}
.portfolio .container .col:hover .col-img img {
  transform: scale(1.2) rotate(5deg);
}
.portfolio .container .col img {
  width: 100%;
  transition: 0.5s;
}
.portfolio .info {
  padding: 1em;
}
.portfolio .info h3 {
  margin: 1em 0;
}
.portfolio .info p {
  margin-bottom: 0.5em;
  line-height: 1.8;
  color: var(--text-color);
}
/* End portfolio */
/* Start about */
.about {
  padding: 5em 2em;
}
.about .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 992px) {
  .about .container {
    flex-direction: column;
  }
}
.about .container .about-img {
  width: 300px;
  position: relative;
}
.about .container .about-img::before {
  content: "";
  position: absolute;
  width: 80px;
  left: -20px;
  top: 50%;
  transform: translatey(-50%);
  height: calc(100% + 100px);
  background: var(--bak-gn-color);
  z-index: -1;
}
.about .container .about-img::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 370px;
  background-color: transparent;
  border-left: 80px solid var(--logo-color);
  border-bottom: 80px solid var(--logo-color);
  z-index: -1;
  right: -10em;
  top: -2em;
}
@media (max-width: 992px) {
  .about .container .about-img::after,
  .about .container .about-img::before {
    display: none;
  }
}
.about .container .about-img img {
  width: 100%;
}
.about .container .about-info {
  width: 40%;
}
@media (max-width: 992px) {
  .about .container .about-info {
    width: 100%;
    text-align: center;
  }
}
.about .container .about-info p {
  line-height: 1.8;
  color: var(--text-color);
  margin: 2em 0;
}
.about .container .about-info p:nth-of-type(1) {
  font-weight: bold;
  color: black;
}
hr {
  background-color: var(--logo-color);

  height: 3px;
  border: 0;
}
/* <!-- Start contact us --> */
.contact {
  padding: 5em 2em;
  background-color: var(--bak-gn-color);
  text-align: center;
}
.contact .main-heading {
  margin-bottom: 2em;
}
.contact .lable {
  font-size: 2rem;
  font-weight: bold;
  color: #224754;
}
.contact a {
  display: block;
  margin: 0.5em 0;
  font-size: 1.7rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--logo-color);
}
@media (max-width: 768px) {
  .contact a {
    font-size: 1rem;
  }
}
.contact .social {
  display: flex;
  justify-content: center;
}
.contact .social p {
  margin-right: 1em;
}

/* <!-- End contact us --> */
/* Start footer */
footer {
  padding: 1em;
  text-align: center;
  background-color: #224754;
  color: white;
}
footer span {
  color: var(--logo-color);
  font-weight: bold;
}

/* Start footer */
